# https://github.com/Alanwatts42/vimrc.git
#
# Git ignore
#
# Author: Evan Sherwood
# 
# Currently, .zshenv file at $ZDOTDIR/.zshenv contains the assignment of 
# the $ZDOTDIR variable, which changes the directory that contains all of
# the zsh dotfiles (.zshrc, .zshenv, etc.) Currently this puts it at
# $HOME/vimrc/.zsh/ but this can be changed if necessary. However, since
# I can now sync it with other dotfiles all within the vimrc repository, 
# it's convenient for it to remain here for the time being, which is why
# I have added .zsh/.oh-my-zsh to this .gitignore, as it is it's own repo
# which is not owned by me.
#
# please note: '.*' and '/*' makes git ignore everything that isn't also listed in the gitignore with 
# a '!' meaning 'do not' ignore.

$HOME/vimrc/.zsh/.oh-my-zsh

